In [21]:
import pandas as pd
import numpy as np
from random import shuffle
from pathlib import Path
from time import sleep

In [22]:
class PACDistributionError(Exception):
    def __init__(self, error_message):
        if error_message:
            self.message = error_message
        else:
            self.type_ = None
    def __str__(self):
        if self.message:
            return self.message
        else:
            return 'Undefined PACDistributionError error raised'

In [23]:
def mensaje_instrucciones_añadir_parcelas():
    print('''Introduzca los nombres y la superficie de sus parcelas (en hectáreas) en el siguiente formato:
              
    parcela , superficie (indiferente a mayus y minus)
    
En caso de que se quiera utilizar el mismo nombre para varias parcelas, use el siguiente formato:

    parcela_1*, superficie
    parcela_2*, superficie
    
    * Se recomienda utilizar el número de la parcela en el registro catastral como sufijo
    
Para acceder al conjunto de ellas, basta con introducir el nombre general de la parcela (sin "_1"), y el programa automaticamente 
detectará el resto de parcelas asociadas al mismo nombre

Si el nombre se compone de dos o más palabras (por ejemplo, "campo alto"), es necesario utilizar el separador "."\
    (por ejemplo, "campo.alto")''')

In [24]:
def introducir_parcelas():
    tierras = {}
    while True:
        info = input('Introduzca la información de la parcela ("salir" para finalizar): ')
        
        if info.lower() == 'salir':
            break
        
        try:
            info = info.replace(' ' , '')
            info = info.split(',')
            
            tierras[info[0]] = float(info[1])
            
        except:
            print('==>  Introduzca los datos en el formato correcto\n')
            
    return tierras

In [25]:
def generar_df_desde_diccionario_parcelas(parcelas_dict):
    names_series = pd.Series(parcelas_dict.keys())
    surface_series = pd.Series(parcelas_dict.values())

    df = pd.DataFrame({'name':names_series, 'surface':surface_series})
    
    return df

'¿Desea crear un archivo csv con los registros históricos desde cero? (s/n): '

In [26]:
def proceder_con_proceso(input_message):
    while True:
        create = input(input_message)

        if create.lower() == 's':
            return  True

        elif create.lower() == 'n':
            return  False

        else:
            print('==> Opción no válida, por favor introduzca "s" o "n"')

In [27]:
csv_path = [str(path) for path in (Path('.').glob('*.csv'))]

if len(csv_path) > 1:
    print('Se han encontrado varios archivos csv en la carpeta actual, por favor, elimine los que no sean necesarios, \
        deje solo el archivo con el resgistro historico de cultivos y vuelva a ejecutar el programa\n')
    print('··· El programa se cerrará en 10 segundos ···')
    sleep(10)
    
    raise PACDistributionError('Multiple csv files found in the current directory, only one is allowed')



try:
    df_historic = pd.read_csv(csv_path[0], sep=';')
    
    print('Parcelas registradas\n' , len(df_historic))
    
    add = proceder_con_proceso('¿Desea añadir más parcelas al registro histórico? (s/n): ')
           
            
    if add:
        mensaje_instrucciones_añadir_parcelas()
        
        nuevas_parcelas_dict = introducir_parcelas()
        nuevas_parcelas_df = generar_df_desde_diccionario_parcelas(nuevas_parcelas_dict)
        display(nuevas_parcelas_df)
        
        df_historic = pd.concat([df_historic, nuevas_parcelas_df], ignore_index=True)
        
    print('Parcelas para este año: ')
    display(df_historic)
    
        
    
except:
    print('No se ha encontrado el archivo csv con los registros históricos\n------------------')
    
    generate_new = proceder_con_proceso('¿Desea crear un archivo csv con los registros históricos desde cero? (s/n): ')
            
            
    if generate_new:
        mensaje_instrucciones_añadir_parcelas()
        
        parcelas_dict = introducir_parcelas()
        parcelas_df = generar_df_desde_diccionario_parcelas(parcelas_dict)
        display(parcelas_df)
        
    else:
        print('Por favor, introduzca el archivo csv con los registros históricos en la misma carpeta que la aplicación\
y vuelva a ejecutar el programa\n')

No se ha encontrado el archivo csv con los registros históricos
------------------
==> Opción no válida, por favor introduzca "s" o "n"
==> Opción no válida, por favor introduzca "s" o "n"
==> Opción no válida, por favor introduzca "s" o "n"
==> Opción no válida, por favor introduzca "s" o "n"
Introduzca los nombres y la superficie de sus parcelas (en hectáreas) en el siguiente formato:

    parcela , superficie (indiferente a mayus y minus)

En caso de que se quiera utilizar el mismo nombre para varias parcelas, use el siguiente formato:

    parcela_1*, superficie
    parcela_2*, superficie

    * Se recomienda utilizar el número de la parcela en el registro catastral como sufijo

Para acceder al conjunto de ellas, basta con introducir el nombre general de la parcela (sin "_1"), y el programa automaticamente
detectará el resto de parcelas asociadas al mismo nombre

Si el nombre se compone de dos o más palabras (por ejemplo, "campo alto"), es necesario utilizar el separador "."    (por ejemplo, "campo.alto")
==>  Introduzca los datos en el formato correcto

==>  Introduzca los datos en el formato correcto

           name  surface
0        elbriz     1.76
1    langayo_72     0.52
2    langayo_76     0.86
3    picacho_41     4.06
4    picacho_57     4.03
5    picacho_58     3.94
6  crucillas_52     0.68

In [28]:
tierras = {'el briz':1.76,
           'el monte':0.46,
           'la torre':0.49,
           'langayo_71':1.74,
           'langayo_72':0.52,
           'langayo_76':0.86,
           'picacho_41':4.06,
           'picacho_57':4.03,
           'picaho_58':3.94,
           'crucillas_52':0.68,
           'crucillas_83':4.15,
           'crucillas_84':4.17,
           'crucillas_85':4.20,
           'crucillas_43':4.08,
           'molino':0.62,
           'yunta_57':2.98,
           'yunta_22':1.50,
           'cogeces_63':2.67,
           'cogeces_64':0.6,
           'moraleja_92':1.59,
           'moraleja_98':0.3,
           'moraleja_52':0.39,
           'apisquillos':0.07,
           'lancha_96':0.31,
           'lancha_27':0.29,
           'lancha_69':0.26,
           'lancha_72':0.2,
           'perosillo':0.3}

In [29]:
names_series = pd.Series(tierras.keys())
surface_series = pd.Series(tierras.values())

df_general = pd.DataFrame({'name':names_series, 'surface':surface_series}).set_index('name')
display(df_general)

              surface
name
el briz          1.76
el monte         0.46
la torre         0.49
langayo_71       1.74
langayo_72       0.52
langayo_76       0.86
picacho_41       4.06
picacho_57       4.03
picaho_58        3.94
crucillas_52     0.68
crucillas_83     4.15
crucillas_84     4.17
crucillas_85     4.20
crucillas_43     4.08
molino           0.62
yunta_57         2.98
yunta_22         1.50
cogeces_63       2.67
cogeces_64       0.60
moraleja_92      1.59
moraleja_98      0.30
moraleja_52      0.39
apisquillos      0.07
lancha_96        0.31
lancha_27        0.29
lancha_69        0.26
lancha_72        0.20
perosillo        0.30

In [30]:
cultivos = ['trigo', 'cebada' , 'guisante']

In [31]:
tierras_for_mixin = list(zip(list(tierras.keys()) , list(tierras.values())))
print(tierras_for_mixin)
shuffle(tierras_for_mixin)
print(tierras_for_mixin)

[('el briz', 1.76), ('el monte', 0.46), ('la torre', 0.49), ('langayo_71', 1.74), ('langayo_72', 0.52), ('langayo_76', 0.86), ('picacho_41', 4.06), ('picacho_57', 4.03), ('picaho_58', 3.94), ('crucillas_52', 0.68), ('crucillas_83', 4.15), ('crucillas_84', 4.17), ('crucillas_85', 4.2), ('crucillas_43', 4.08), ('molino', 0.62), ('yunta_57', 2.98), ('yunta_22', 1.5), ('cogeces_63', 2.67), ('cogeces_64', 0.6), ('moraleja_92', 1.59), ('moraleja_98', 0.3), ('moraleja_52', 0.39), ('apisquillos', 0.07), ('lancha_96', 0.31), ('lancha_27', 0.29), ('lancha_69', 0.26), ('lancha_72', 0.2), ('perosillo', 0.3)]
[('cogeces_63', 2.67), ('perosillo', 0.3), ('langayo_76', 0.86), ('cogeces_64', 0.6), ('el briz', 1.76), ('crucillas_43', 4.08), ('crucillas_83', 4.15), ('picacho_41', 4.06), ('apisquillos', 0.07), ('el monte', 0.46), ('moraleja_98', 0.3), ('lancha_96', 0.31), ('crucillas_84', 4.17), ('la torre', 0.49), ('moraleja_52', 0.39), ('molino', 0.62), ('crucillas_85', 4.2), ('lancha_72', 0.2), ('moraleja_92', 1.59), ('langayo_72', 0.52), ('crucillas_52', 0.68), ('lancha_69', 0.26), ('lancha_27', 0.29), ('picaho_58', 3.94), ('yunta_22', 1.5), ('langayo_71', 1.74), ('yunta_57', 2.98), ('picacho_57', 4.03)]

In [32]:
superficie_total = sum(list(tierras.values()))
print(superficie_total)

47.220000000000006

In [33]:
tierras_manual = {'el briz':'trigo',
                  'el monte':'trigo',
                  'la torre':'trigo',
                  'langayo_71':'trigo',
                  'langayo_72':'trigo',
                  'picacho_41':'cebada',}

cultivos_manual = set(tierras_manual.values())

preference = [cultivos.index(cultivo) for cultivo in cultivos_manual]

superficie_manual_por_cultivos = []

for cultivo in cultivos_manual:
    superficie_por_cultivo = []
    for tierra, cultivo_tierra in tierras_manual.items():
        if cultivo == cultivo_tierra:
            superficie_por_cultivo.append(tierras[tierra])
    superficie_manual_por_cultivos.append(sum(superficie_por_cultivo))
            
cultivos_manual_ordenados = sorted(zip(preference , cultivos_manual, superficie_manual_por_cultivos), key=lambda x: x[0])
[print(preferencia , cultivo, superficie) for preferencia , cultivo, superficie in cultivos_manual_ordenados]

0 trigo 4.970000000000001
1 cebada 4.06

[None, None]

In [34]:
try:
    cultivo_principal_hc = cultivos_manual_ordenados[0][2]
    try:
        cultivo_secundario_hc = cultivos_manual_ordenados[1][2]
        try:
            cultivo_terciario = cultivos_manual_ordenados[2][2]
        except:
            cultivo_terciario_hc = 0
    except: 
        cultivo_secundario_hc = 0
except:
    cultivo_principal_hc = 0
    

tierras_for_mixin = list(zip(list(tierras.keys()) , list(tierras.values())))
shuffle(tierras_for_mixin)

parcelas_trigo = []

while True:
    while cultivo_principal_hc/superficie_total < 0.7:
        
        parcela = tierras_for_mixin.pop(0)
        
        cultivo_principal_hc += parcela[1]
        shuffle(tierras_for_mixin)
        parcelas_trigo.append(parcela)
        
    
    parcela_devuelta = parcelas_trigo.pop(-1)
    print(parcela_devuelta)
    cultivo_principal_hc -= parcela_devuelta[1]
    
    print(cultivo_principal_hc , cultivo_principal_hc/superficie_total , parcelas_trigo)
    print()
    print(tierras_for_mixin+[parcela_devuelta])
    print()
    
    
    break

('picacho_41', 4.06)
31.280000000000005 0.6624311732316815 [('el briz', 1.76), ('yunta_57', 2.98), ('crucillas_43', 4.08), ('crucillas_52', 0.68), ('el monte', 0.46), ('lancha_27', 0.29), ('perosillo', 0.3), ('lancha_96', 0.31), ('crucillas_84', 4.17), ('langayo_72', 0.52), ('molino', 0.62), ('picacho_57', 4.03), ('langayo_76', 0.86), ('la torre', 0.49), ('moraleja_98', 0.3), ('lancha_69', 0.26), ('crucillas_85', 4.2)]

[('yunta_22', 1.5), ('cogeces_64', 0.6), ('crucillas_83', 4.15), ('moraleja_52', 0.39), ('lancha_72', 0.2), ('cogeces_63', 2.67), ('moraleja_92', 1.59), ('apisquillos', 0.07), ('picaho_58', 3.94), ('langayo_71', 1.74), ('picacho_41', 4.06)]

In [35]:
def get_crop_surface(lista_parcelas , superficie_total , prioridad , superficie_ocupada):
    crop_surface=superficie_ocupada
    parcelas_escogidas = []
    
    if prioridad == 0:
        valor_maximo = 0.7
        
    elif prioridad == 1:
        valor_maximo = 0.9
    
    
    while crop_surface/superficie_total < valor_maximo:
        
        parcela = lista_parcelas.pop(0)
        
        crop_surface += parcela[1]
        shuffle(lista_parcelas)
        parcelas_escogidas.append(parcela)
        
    
    parcela_devuelta = parcelas_escogidas.pop(-1)
    crop_surface -= parcela_devuelta[1]
    

    parcelas_sin_asignar = lista_parcelas+[parcela_devuelta]
    
    return crop_surface-superficie_ocupada , parcelas_escogidas , parcelas_sin_asignar

In [36]:
tierras_for_mixin = list(zip(list(tierras.keys()) , list(tierras.values())))
shuffle(tierras_for_mixin)

crop_surface_principal , parcelas_principal , sin_asignar = get_crop_surface(tierras_for_mixin , superficie_total , 0 , 0)

In [37]:
crop_surface_secundario , parcelas_secundario , parcelas_terciario = get_crop_surface(sin_asignar , superficie_total , 1 , crop_surface_principal)

In [38]:
ratio_principal = crop_surface_principal/superficie_total
ratio_secundario = crop_surface_secundario/superficie_total

ratio_comb = ratio_principal +  ratio_secundario


crop_surface_terciario = superficie_total - (crop_surface_secundario+crop_surface_principal)
ratio_terciario = crop_surface_terciario/superficie_total

In [40]:
print('principal' , cultivos[0])
print(crop_surface_principal , ratio_principal)
print(parcelas_principal)
print('\n-----------------------------------------\n')
print('secundario' , cultivos[1])
print(crop_surface_secundario , ratio_secundario)
print(parcelas_secundario)
print('\n-----------------------------------------\n')
print(ratio_comb)
print('\n-----------------------------------------\n')
print('terciario' , cultivos[2])
print(crop_surface_terciario , ratio_terciario)
print(parcelas_terciario)
print('\n-----------------------------------------\n')


if any([crop < 0.1 for crop in [ratio_principal , ratio_secundario , ratio_terciario]]):
    print('DISTRIBUCIÓN NO VÁLIDA')
else:
    print('DISTRIBUCIÓN VÁLIDA')

principal trigo
32.489999999999995 0.6880559085133416
[('moraleja_98', 0.3), ('yunta_57', 2.98), ('crucillas_83', 4.15), ('lancha_27', 0.29), ('lancha_96', 0.31), ('picacho_57', 4.03), ('molino', 0.62), ('moraleja_52', 0.39), ('crucillas_84', 4.17), ('el briz', 1.76), ('crucillas_85', 4.2), ('langayo_76', 0.86), ('lancha_72', 0.2), ('picacho_41', 4.06), ('cogeces_63', 2.67), ('yunta_22', 1.5)]

-----------------------------------------

secundario cebada
8.050000000000004 0.1704786107581534
[('picaho_58', 3.94), ('moraleja_92', 1.59), ('el monte', 0.46), ('lancha_69', 0.26), ('crucillas_52', 0.68), ('cogeces_64', 0.6), ('langayo_72', 0.52)]

-----------------------------------------

0.858534519271495

-----------------------------------------

terciario guisante
6.680000000000007 0.141465480728505
[('apisquillos', 0.07), ('perosillo', 0.3), ('langayo_71', 1.74), ('la torre', 0.49), ('crucillas_43', 4.08)]

-----------------------------------------

DISTRIBUCIÓN VÁLIDA

In [43]:
cultivos_manual_ordenados = sorted(zip(preference , cultivos_manual, superficie_manual_por_cultivos), key=lambda x: x[0])
[print(preferencia , cultivo, superficie) for preferencia , cultivo, superficie in cultivos_manual_ordenados]

0 trigo 4.970000000000001
1 cebada 4.06

[None, None]

In [41]:
def generar_distribucion_aleatoria(tierras_dict , cultivos , cultivos_manual):
    while True:
        tierras_for_mixin = list(zip(list(tierras_dict.keys()) , list(tierras_dict.values())))
        shuffle(tierras_for_mixin)
        
        
        superficies_ocupadas = [cultivo_manual[2] for cultivo_manual in cultivos_manual]
        superficie_ocupada = sum(superficies_ocupadas)
        
        superficie_total = sum(list(tierras_dict.values()))
        parcelas_repartidas = []
        
        for pos , cultivo in enumerate(cultivos):
            
            if pos != len(cultivos)-1:
                crop_surface , parcelas , sin_asignar = get_crop_surface(tierras_for_mixin , superficie_total , pos , superficies_ocupadas[pos])
                
                superficie_ocupada += crop_surface
                tierras_for_mixin = sin_asignar
            else:
                parcelas = tierras_for_mixin            
                crop_surface = superficie_total - superficie_ocupada
            
            proporcion = crop_surface/superficie_total
            
            parcelas_repartidas.append([cultivo , crop_surface , proporcion , parcelas])
                
                
        #[print(cultivo) for cultivo in parcelas_repartidas]
        
        proportions = [cultivo[2] for cultivo in parcelas_repartidas]

        if all([prop > 0.1 for prop in proportions]):
            break
        
    return parcelas_repartidas

In [44]:
reparto = generar_distribucion_aleatoria(tierras , cultivos , cultivos_manual_ordenados)

[print(cultivo , '\n') for cultivo in reparto]

['trigo', 30.760000000000005, 0.6514188903007201, [('cogeces_64', 0.6), ('apisquillos', 0.07), ('la torre', 0.49), ('cogeces_63', 2.67), ('lancha_72', 0.2), ('langayo_72', 0.52), ('langayo_76', 0.86), ('el monte', 0.46), ('lancha_96', 0.31), ('crucillas_84', 4.17), ('yunta_22', 1.5), ('picaho_58', 3.94), ('el briz', 1.76), ('moraleja_92', 1.59), ('langayo_71', 1.74), ('crucillas_43', 4.08), ('crucillas_52', 0.68), ('moraleja_98', 0.3), ('molino', 0.62), ('crucillas_85', 4.2)]]

['cebada', 7.589999999999996, 0.16073697585768731, [('picacho_41', 4.06), ('lancha_69', 0.26), ('lancha_27', 0.29), ('yunta_57', 2.98)]]

['guisante', 8.870000000000005, 0.18784413384159263, [('moraleja_52', 0.39), ('picacho_57', 4.03), ('perosillo', 0.3), ('crucillas_83', 4.15)]]

[None, None, None]

In [31]:
season_df = pd.DataFrame(columns = ['name' , 'year'])
for cultivo in reparto:
    crop_list = [cultivo[0]] * len(cultivo[3])
    field_list = [cultivo[3][i][0] for i in range(len(cultivo[3]))]
    
    df = pd.DataFrame({'name' : field_list , 'year' : crop_list})
    
    season_df = season_df.append(df)

season_df = season_df.set_index('name')

display(season_df)

                  year
name
crucillas_84     trigo
moraleja_52      trigo
lancha_96        trigo
langayo_76       trigo
moraleja_98      trigo
apisquillos      trigo
picaho_58        trigo
crucillas_85     trigo
cogeces_64       trigo
cogeces_63       trigo
lancha_27        trigo
yunta_22         trigo
lancha_72        trigo
picacho_41       trigo
molino           trigo
langayo_71       trigo
la torre         trigo
crucillas_43     trigo
moraleja_92      trigo
perosillo       cebada
crucillas_52    cebada
el briz         cebada
langayo_72      cebada
lancha_69       cebada
el monte        cebada
picacho_57      cebada
yunta_57      guisante
crucillas_83  guisante

In [32]:
updated_df = pd.concat([df_general , season_df] , axis = 1)
display(updated_df)

              surface      year
name
el briz          1.76    cebada
el monte         0.46    cebada
la torre         0.49     trigo
langayo_71       1.74     trigo
langayo_72       0.52    cebada
langayo_76       0.86     trigo
picacho_41       4.06     trigo
picacho_57       4.03    cebada
picaho_58        3.94     trigo
crucillas_52     0.68    cebada
crucillas_83     4.15  guisante
crucillas_84     4.17     trigo
crucillas_85     4.20     trigo
crucillas_43     4.08     trigo
molino           0.62     trigo
yunta_57         2.98  guisante
yunta_22         1.50     trigo
cogeces_63       2.67     trigo
cogeces_64       0.60     trigo
moraleja_92      1.59     trigo
moraleja_98      0.30     trigo
moraleja_52      0.39     trigo
apisquillos      0.07     trigo
lancha_96        0.31     trigo
lancha_27        0.29     trigo
lancha_69        0.26    cebada
lancha_72        0.20     trigo
perosillo        0.30    cebada

In [50]:
updated_df.to_csv('crop_historical.csv' , sep=';')